.avatar {
  position: relative;
  display: flex;
  height: var(--s40);
  width: var(--s40);
  flex-shrink: 0;
  overflow: hidden;
  border-radius: var(--radius-pill);
}

.image {
  aspect-ratio: 1 / 1;
  height: 100%;
  width: 100%;
}

.fallback {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  border-radius: var(--radius-pill);
  background: hsl(var(--muted));
}
